nb-tabset {
  height: 100%;
  display: flex;
  flex-direction: column;  
}

:host ::ng-deep ngx-tab1, :host ::ng-deep ngx-tab2 {
  display: block;
  padding: 1rem 2rem;
}

img {
  width: 100%;
}

.p1 {
  text-align: center;
  color: rgb(0, 6, 179);
  font-weight: bold;  
}

.p2 {
  text-align: left;
  color: rgb(0, 6, 179);
  font-size: 12px;
}

.p3 {
  text-align: justify;
  font-size: 15px;
}